.Projects{
    background-image:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)), url("https://images.unsplash.com/photo-1473081556163-2a17de81fc97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQwfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: 150% 100%;
}

.box-p{
    padding: 1rem;
    justify-content: center;
        display: flex;
        flex-wrap: wrap;
}

.list-projects{
    background: #47432ec0;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.list-image{
    width: 80%;
    padding: 1.5rem;
}
.list-image img{
    width: 100%;
}
   /* font-family: 'Secular One', sans-serif;
font-family: 'Manrope', sans-serif;*/
.list-titulo h3, .list-institucion h4{
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color: var(--silver-sand);
    text-shadow: 2px 2px 2px var(--pine-tree);

}

.list-frame p, .list-año p{
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: var(--silver-sand);
    text-shadow: 2px 2px 2px var(--pine-tree);
}
.btn-project{
    background-color: var(--pine-tree);
    padding: 1rem 2rem; 
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-project:hover, .btn-project a:hover{
    background-color: var(--silver-sand);
    color: var(--pine-tree);
}
.btn-project a{
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    color: var(--white);
}
.btn-project i{
    margin-left: 0.5rem;
}

@media screen and (min-width:768px) {
    .Projects{
        background-size: 150% 160%;
    }
    .box-p{
        padding-top: 8rem;
        padding-left: 9rem;
        height: 80rem;
    }
    
    .list-projects{
        width: 250px;
        height: 350px;
    }
    
}
@media screen and (min-width:1024px){
    .Projects{
        background-size: 100% 120%;
    }
    .box-p{
        padding-left: 7rem;
        height: 60rem;
    }
    .list-projects{
        width: 250px;
    }
}
@media screen and (min-width:1200px) {
    .list-projects{
        width: 320px;
    }
    .box-p{
        padding-left: 9rem;
    }
}