


nav{
    background: var(--pine-tree);
    padding: 2rem;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--olive-draf);
}

.logo{
    position: relative;
    bottom: 10px;
    width: 60px;
    transition-duration:500ms;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 31.7rem;
    width: 100%;

}

nav ul li{
    font-family: 'Secular One', sans-serif;
    color:var(--silver-sand);
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul a{
    text-decoration: none;
    
}
nav ul i{
    margin: 0rem 1rem;
}
.item:hover{
    color: var(--olive-draf);
}
.item{
    color: aliceblue;
    text-decoration: none;
    transition-duration: 500ms ;
}


li.active, li:hover{
    transition: .5s;
}

.checkbtn{
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 40px;
}
#check{
    display: none;
}

.logo:hover{
    transform: scale(1.01);
}

@keyframes blinker {
50% {
    opacity: 0;
}
}
@keyframes hideShow {
0%, 16.6%, 33.33%, 100% { width: 0; }
16.66%, 33.3% { width: auto; }
}
ul{
    position: absolute;
    width: 100%;
    background-color: var(--pine-tree);
    backdrop-filter: blur(5px);
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    animation: desplegar 2s 1s backwards;
}

@keyframes desplegar {
    0%{
        border-bottom-right-radius: 100%;
    }
    100%{
        border-bottom-right-radius: 0%;
    }
}

nav ul li{
    border: none;
    width: 100%;
}
li a:hover, li a.active{
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}
#check:checked ~ ul{
    
    left:0;
}

/* MEDIAS QUERIES */
@media screen and (min-width:768px) {
    .checkbtn{
        display: none;
    }
    nav, nav ul{
        width: 15%;
    }
    nav ul i{
        font-size: 20px;
    }
    nav ul li{
        font-size: 0px;
    }
    nav ul li:hover{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7DABCB;
        width: 200px;
        height: 100px;
        font-size: 20px;
    }
    #check ~ ul{
        left:0px;
    }
    

}
@media screen and (min-width:1024px) {
    nav, nav ul{
        width: 13%;
    }
    
    
}
@media screen and (min-width:1024px) {
    nav, nav ul{
        width: 10%;
    }
    nav ul{
        height: 32.3rem;
    }
}