.Home{
    background:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)), url(./background.jpeg);
    background-size: 600px 250px;
    height: 100vh;
}
.container-main{
    background-color: #c3c8cd94;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 3rem;
    border-radius: 500px 500px 0px 0px;
}
.container-main h2{
    font-family: 'Secular One', sans-serif;
    color: var(--pine-three);
    text-shadow: 1px 1px 3px var(--white);
}
.paragraph{
    width: 90%;
}
.paragraph p{
    font-family: 'Baloo 2', cursive;
    text-align: center;
    text-shadow: 1px 1px 3px var(--white);
    color: var(--pine-three);
}

@media screen and (min-width:768px) {
    .Home{
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./background.jpeg);
        background-size: 1000px 100vh;
    }
    .container-main{
        position: absolute;
        top: 38%;
        left:27%;
        width: 60%;
        margin: 0;
        height: 15rem;
        padding: 2rem;
        justify-content: center;
        border-radius: 5px;
    }
    .paragraph p{
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {
    
    .container-main{
        background-color: #c3c8cd80;
        position: absolute;
        top: 45%;
        left:10%;
        width: 65%;
        margin: 0;
        height: 11rem;
        padding: 1rem;
        justify-content: center;
        border-radius: 0px 100px 100px 0px;
    }
    .paragraph p{
        text-align: left;
    }
}