.Home{
    background:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)), url(./background.jpeg);
    background-size: 600px 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wall{
    height: 15.8rem;

}
.container-main{
    background-color: #c3c8cd5e;
    display: flex;
    padding-top: 1rem;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 50px 50px 0px 0px;
}
.container-main h2{
    font-family: 'Secular One', sans-serif;
    color: var(--white);
    text-shadow: 1px 1px 3px var(--pine-tree);
    letter-spacing: 1.5px;
}
.paragraph{
    background-color: var(--pine-tree);
    width: 100%;
    padding: 2rem 1.5rem;
    
}
.paragraph p{
    font-family: 'Baloo 2', cursive;
    text-align: center;
    color: var(--white);
    text-shadow: 1px 1px 3px var(--pine-tree);
    
}

@media screen and (min-width:768px) {
    .Home{
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./background.jpeg);
        background-size: 1000px 100vh;
        
    }
    .wall{
        position: relative;
        padding-top: 5rem;
        top:0;
        display: flex;
        justify-content: flex-end;
        height: 32rem;
    }
    .container-main{
        background: linear-gradient(-45deg,#49452e, #232314ce,#242413ce,#49452e, #252315ce, #242413ce, #49452e);
        background-size: 400% 400%;
        animation: gradient 25s ease infinite;
        margin-top: 8rem;
        margin-right: 6rem;
        padding: 1rem;
        width: 70%;
        border-radius: 15px;
        height: 60%;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .container-main h2{
        color: var(--white);
            text-shadow: 1px 1px 3px var(--pine-tree);
        }
    .paragraph {
        background-color: #47432e9c;
        padding: 2rem 2rem 2rem 3rem;
        border-radius: 10px;
    }
    .paragraph p{
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {
    .wall{
        height: 34rem;
    }
    .container-main{
        position: relative;
        right: 13%;
        margin-top: 6rem;
        background-color: #c3c8cd80;
        padding: 1rem 2rem 1rem 0rem;
        justify-content: center;
        border-radius: 0px 100px 80px 0px;
    }
    .paragraph {
        border-radius: 0px 100px 100px 0px;
    }
    .paragraph p{
        text-align: left;
    }
}