@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Manrope:wght@200&family=Secular+One&display=swap');
/*font-family: 'Baloo 2', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Secular One', sans-serif;*/
:root{
    --pine-tree:#232314;
    --silver-sand:#C3C8CD;
    --iceberg:#7DABCB;
    --olive-draf:#47432E;
    --white:#FFFF;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}